@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

nav ul a {
    color: black;
}

nav .brand-logo {
    color: black;
    font-family: 'Pacifico', cursive;
}

.sidenav-overlay {
    font-family: 'Pacifico', cursive;
}

i {
    color: black;
}

.center-align {
    font-family: 'Pacifico', cursive;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: black;
    font-family: 'Pacifico', cursive;
  }

.parallax-container .section {
      width: 100%;
}
  
@media only screen and (max-width : 992px) {
.parallax-container .section {
    position: absolute;
    top: 40%;
}

.flashes h4 {
    line-height: 3;
    font-family: 'Oswald', sans-serif;
}




