@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&display=swap');

/* Main body */

body {
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    flex-direction: column;
   
}

main {
    flex: 1 0 auto;
}

/* Navbar and sidebar */

nav ul a {
    color: black;
}

nav .brand-logo {
    color: black;
    font-family: 'Pacifico', cursive;
    padding-left: 10px;
}

.sidenav-overlay {
    font-family: 'Pacifico', cursive;
}

.brand-logo {
    font-family: 'Pacifico', cursive;
}

/* icons throughout site */

i {
    color: black;
}

/* A template from materialize */

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: fit-content;
    color: black;
    font-family: 'Pacifico', cursive;
    display: flex;
}

.parallax-container .section {
      width: 100%;
}

/* Flashes for login and register. */ 

.flashes h4 {
    line-height: 3;
    font-family: 'Oswald', sans-serif;
}

/* Cards for recipes */



.card-content {
    font-family: 'Oswald', sans-serif;
}




/* footer */

.page-footer {
    flex-direction: column;
    display: flex;
}

.page-footer i {
    color: white;
    
}

.page-footer i {
    color: white;
    font-size: 20px;
    padding: 10px;
}

/* media queries for ssmaller devices */

@media only screen and (max-width: 992px)
{
nav .brand-logo {
    padding-left: 0;
}
}

@media only screen and (max-width: 568px)
{
nav .brand-logo {
    padding-left: 0;
    font-size: 25px;
}
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
}
}

