{% extends "base.html" %}
{% block content %}

<h3 class="center-align black-text">Add Recipe</h3>

<!--Name-->

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-file-signature prefix"></i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" minlength="5" maxlength="50"
                    pattern="^[A-Za-z ][A-Za-z0-9!@#$%^&* ]*$" required>
                    <label for="recipe_name">Recipe Name:</label>
                </div>
            </div>
<!--Description-->
  
    <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-heart prefix"></i>
            <textarea id="recipe_description" name="recipe_description" minlength="5"
                    maxlength="500" class="materialize-textarea validate" required></textarea>
            <label for="recipe_description">Description:</label>
        </div>
    </div>

<!--Category-->

        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-check-square prefix"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Recipe Category</label>
            </div>
        </div>
<!--Image Url-->


        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-camera-retro prefix"></i>
                <input id="recipe_img" name="recipe_img" maxlength="5000"
                    type="url" class="validate" aria-describedby="recipe_img" pattern="https?://.+" onchange="recipeImg();">
                <label for="recipe_img">Recipe Image <em>Copy and paste image url or skip step to use default image.</em></label>
            </div>
        </div>

<!--Ingredients-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-clipboard-list prefix"></i>
                <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="5"
                        maxlength="1500" class="materialize-textarea validate" required></textarea>
                <label for="recipe_ingredients">Ingredients:</label>
                <span class="helper-text" data-error="wrong" data-success="right">Write every new ingredient on a new line.</span>
            </div>
        </div>

<!--Method-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-mortar-pestle prefix"></i>
                <textarea id="recipe_method" name="recipe_method" minlength="5"
                        maxlength="5000" class="materialize-textarea validate" required></textarea>
                <label for="recipe_method">Method:</label>
                <span class="helper-text" data-error="wrong" data-success="right">Write every new instruction on a new line.</span>
            </div>
        </div>   

<!--Gluten switch-->
        
        <div class="input-field col s12">
            <i class="fas fa-bread-slice prefix"></i>
                <label for="gluten_free">
                    <input type="checkbox" id="gluten_free" name="gluten_free">
                    <span class="checkbox">Is gluten free.</span>
                </label>
            </div>
        </div> 

        <!-- Submit button  -->
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn waves-effect waves-light btn-large" type="submit" action="{{ url_for('full_recipe') }}">Submit
                    <i class="fas fa-paper-plane right"></i>
                  </button>
                        
            </div>
        </div>
    </form>
</div>

{% endblock %}