{% extends "base.html" %}
{% block content %}

    

    <div class="container">
        <div class="row">
            <h3 class="center-align">{{recipe.recipe_name}}</h3>
        </div>

        <div class="container"></div>
        <!-- Image and info -->
        <div class="row">
            <div class="col s12">
                <h5><strong>Category: {{ recipe.category_name.capitalize() }}</strong></h5>
                <h6><strong>Created by: {{ recipe.created_by.capitalize() }}</strong></h6>
            </div>

            <div class="col s12">
                <img class="img_recipe" src="{{ recipe.recipe_img }}" alt="{{ recipe.recipe_name.capitalize() }}">
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <h4>Ingredients</h4>
                <ul>
                    {% for list in recipe.recipe_ingredients.splitlines() %}
                    <li>
                        <p><i class="fas fa-circle"></i> {{list}}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col s12">
                <h4 class="teal-text"><strong>Is Gluten Free</strong> : {{ recipe.is_not_gluten_free }}</h4>
                {% if recipe.is_not_gluten_free == "on" %}
                    <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                        data-position="right" data-tooltip="URGENT!"></i>
                {% endif %}
            </div>
            <div class="col s12">
                <h4>Method</h4>
                <p>{{ recipe.recipe_method }}</p>
            </div>
            <div class="col s6">
                
                {% if session.user|lower == recipe.created_by|lower %}
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="center-align waves-effect waves-light btn-large"><i class="far fa-edit"></i> Edit</a>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="right waves-effect waves-light red btn-large"><i class="far fa-trash-alt"></i> Delete</a>
                    
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}