{% extends "base.html" %}
{% block content %}


    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Family Recipes</h1>
            <div class="row center">
              <h5 class="header col s12 light teal">A place to save those important family recipes. Your recipes can be catalogued and saved for the future, making sure Mamma's chicken soup and grandpa's roast spuds is never lost again.</h5>
            </div>
            <div class="row center">
              <a href="{{ url_for('register') }}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Register</a>
            </div>
            <br><br>
    
          </div>
        </div>
        <div class="parallax"><img src="static/images/heroimage.png" alt="illustrated image of people with cooking utensils" style="transform: translate3d(-50%, 199.705px, 0px); opacity: 1;"></div>
    </div>

    <h3 class="center-align black-text">Recipes</h3>

    <section class="recipes">
      <div class="row">
          <div class="col s12 m6 l6 xl4">
              <div class="card medium recipe-card">
                  <div class="card-image">
                    <img src="static/images/scones.jpg" alt="scones with cream">
                    <span class="card-title"></span>
                  </div>
                  <div class="card-content content center-align">
                    <h5 class="recipe-heading">Nana's Scones</h5>
                    <p>She would happily tell you that noone made a better scone.</p>
                    <span><em>By: Anna</em></span>
                  </div>
                  <div class="card-action btn-box center-align">
                    <a class="full-recipe-btn text-shadow"
                        href="{{ url_for('get_recipes') }}">Recipes</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l6 xl4">
                <div class="card medium recipe-card">
                    <div class="card-image">
                      <img src="static/images/stew-2.jpg" alt="scones with cream">
                      <span class="card-title"></span>
                    </div>
                    <div class="card-content content center-align">
                      <h5 class="recipe-heading">Grandad's Stew</h5>
                      <p>It will keep you warm during the harshest winters.</p>
                      <span><em>By: Milly</em></span>
                    </div>
                    <div class="card-action btn-box center-align">
                      <a class="full-recipe-btn text-shadow"
                          href="{{ url_for('get_recipes') }}">Recipes</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l6 xl4">
                  <div class="card medium recipe-card">
                      <div class="card-image">
                        <img src="static/images/vic-2.jpg" alt="scones with cream">
                        <span class="card-title"></span>
                      </div>
                      <div class="card-content content center-align">
                        <h5 class="recipe-heading">Auntie Elie's Victoria Sponge</h5>
                        <p>She worked as a waitress her whole life and had some of the best recipes. </p>
                        <span><em>By: Michelle</em></span>
                      </div>
                      <div class="card-action btn-box center-align">
                        <a class="full-recipe-btn text-shadow"
                            href="{{ url_for('get_recipes') }}">Recipes</a>
                      </div>
                    </div>
                  </div>
            </div>
      </section>
           
{% endblock %}