{% extends "base.html" %}
{% block content %}

    
    


    
    <!-- Profile Header -->
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel">
                    <h1 class="center-align teal black-text">
                        Profile
                    </h1>
                    
                </div>
            </div>
        </div>

        <!-- Welcome Message and link to recipes -->
        
                <h1 class="s12 header center black-text text-lighten-2">Welcome to Family Recipes</h1>
                <div class="row center">
                  <h5 class="header col s12 light">A place to save those precious family recipes.</h5>
                </div>
                <div class="row">
                  <div class="center-align s12">
                    <a href="{{ url_for('get_recipes') }}" class="center-align waves-effect waves-light btn-large">
                      <i class="far fa-edit"></i> Recipes</a>
                  </div>
                </div>

                
               
                  
               
    

    



                    
                    
                

{% endblock %}