{% extends "base.html" %}
{% block content %}


    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Family Recipes</h1>
            <div class="row center">
              <h5 class="header col s12 light teal">A place to save those important family recipes. Your recipes can be catalogued and saved for the future, making sure Mamma's chicken soup and grandpa's roast spuds is never lost again.</h5>
            </div>
            <div class="row center">
              <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Register</a>
            </div>
            <br><br>
    
          </div>
        </div>
        <div class="parallax"><img src="static/images/heroimage.png" alt="illustrated image of people with cooking utensils" style="transform: translate3d(-50%, 199.705px, 0px); opacity: 1;"></div>
    </div>

    <h3 class="center-align black-text">Recipes</h3>
    
    <div class="row">
      
      <div class="col s12 m8 offset-m2">
        <div class="card">
          {% for recipe in recipes %}
          <div class="card-image">
            <img src="images/scones.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
    
          </div>
          {% endfor %}
        </div>
        
      </div>
    </div>

{% endblock %}