{% extends "base.html" %}
{% block content %}

    

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align teal">
                    {{ username }}'s Recipes
                </h3>

                <div class="row">
                    <div class="col s12 offset">
                      <div class="card">
                        {% for recipe in recipes %}
                          <div class="card-image">
                            {% if recipe.recipe_img %}  
                              <img src="{{ recipe.recipe_img }}">
                            {% else %}
                              <img class="responsive-img" alt="table full of brunch food" src="static/images/scones.jpg">
                            {% endif %}
                          </div>
                          <div class="card-content">
                            <h5>{{ recipe.recipe_name }}</h5>
                            <p> {{ recipe.recipe_description }}</p>
                            <p><em>by: {{ recipe.created_by }}</em></p>
                          <div class="row">
                          <div class="col s6">
                            
                            {% if session.user|lower == recipe.created_by|lower %}
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                              class="btn-small light-blue lighten-1">Edit</a>
                          </div>
                          <div class="col s6">
                            
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                              class="btn-small light-blue lighten-1">Delete</a>
                              {% endif %}
                          </div>
                        </div>
                        </div>
                        {% endfor %}  
                      </div>
                      
                    </div>
                  </div>


                
            </div>
        </div>
    </div>

    

{% endblock %}